{% extends "base.html" %}
{% block content %}
{% if title == 'loginerror' %}
    <form action = "http://localhost:5000/login" method = "post">
        <p>  Enter Name:</p>
        <p><input type = "text" name = "username" /></p>
        <p><input type = "submit" value = "submit" /></p>
        <p>  (name was invalid or does not exist in our files.)
    </form>
{% endif %}
{% if title == 'login' %}
    <form action = "http://localhost:5000/login" method = "post">
        <p>  Enter Name: </p>
        <p><input type = "text" name = "username" /></p>
        <p><input type = "submit" value = "submit" /></p>
    </form>
{% endif %}
{% endblock content %}


