{% extends "base.html" %}
{% block content %}
{% if title == 'login2error' %}
    <form action = "http://localhost:5000/password/{{name}}" method = "post">
        <p>  Welcome {{ name }} </p>
        <p>  Please enter your password:</p>
        <p><input type = "text" name = "password" /></p>
        <p><input type = "submit" value = "submit" /></p>
        <p>  (password was invalid.)
    </form>
{% endif %}
{% if title == 'login2' %}
    <form action = "http://localhost:5000/password/{{name}}" method = "post">
        <p>  Welcome {{ name }} </p>
        <p>  Please enter your password:</p>
        <p><input type = "text" name = "password" /></p>
        <p><input type = "submit" value = "submit" /></p>
    </form>
{% endif %}
{% endblock content %}
